body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.display-4 {
    font-family: 'Corben', cursive;
    font-weight: 700;
    text-transform: lowercase;
}

.lead {
    font-size: 1.5rem;
    font-weight: 700;
}

.text-info {
    color: #1712b8 !important;
}

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.jumbotron {
    background-size: cover;
    background-position: center;
}

.toggle img {
    height: 30px;
}

.nav-shim {
    height: 60px;
}

